.my-saving{
    color: rgba(224, 139, 28, 0.877);
    font-weight: bold;
    padding: 20px;
}
.image{
    width: 540px;
    height: 600px;
}
.food{
    display: inline-block;
}
.rent{
    display: inline-block; 
}
.cloth{
    display: inline-block;
}
.savings{
    display: inline-block;
}

/* responsive for mobile */
@media only screen and (max-width: 600px) {
    .full-wrapper{
        display: grid;
        flex-direction: column;
        text-align: center;
    }
  } 
  